{% load static %}
<footer>
    <div class="container-fluid footerarea">
        <div class="container subfooter info">
            <div class="col footerelements footerlogos weirdfooter">
                <img class="logo" src="../images/icons/logo3.png" alt="">
                <h1 class="mediaadress">
                    Sosial mediya adreslərimiz:
                </h1>
                <div class="container footicons">
                    <div class="footer_icons">
                        <a href="https://instagram.com"><img class="footersocialicons" src="{% static '/images/icons/instagram.png' %}" alt=""></a>
                    </div>
                    <div class="footer_icons">
                        <a href="https://facebook.com"><img class="footersocialicons" src="{% static '/images/icons/facebook.png' %}" alt=""></a>
                    </div>
                    <div class="footer_icons">
                        <a href="https://whatsapp.com"><img class="footersocialicons" src="{% static '/images/icons/whatsapp.png' %}" alt=""></a>
                    </div>
                    <div class="footer_icons">
                        <a href="https://linkedin.com"><img class="footersocialicons" src="{% static '/images/icons/linkedin.png' %}" alt=""></a>
                    </div>
                </div>
            </div>

            <div class="col footerelements weirdfooter">
                <h1 class="footertitle mediaadress"> Keçid linklər:</h1>
                <p class="firstcolumn">Ana səhifə</p>
                <p class="firstcolumn">Haqqımızda</p>
                <p class="firstcolumn">Sertifikatlar</p>
            </div>
            <div class="col footerelements">
                <h1 class="footertitle mediaadress">Məlumat üçün:</h1>
                <div class="container contactwith">
                    <img class="contactwithicons" src="{% static '/images/icons/email.png' %}" alt="">
                    <p>buildingconstruction.aze@info</p>
                </div>
                <div class="container contactwith">
                    <img class="contactwithicons" src="{% static '/images/icons/phone.png' %}" alt="">
                    <p>+994001231212</p>
                </div>
                <div class="container contactwith">
                    <img class="contactwithicons" src="{% static '/images/icons/location.png' %}" alt="">
                    <p>Baku, Azerbaijan, 28 May</p>
                </div>
            </div>
        </div>
        <div class="container subfooter rights">
            <p class="rights">
                © 2017-2021 General Construction
                Bütün hüquqlar qorunur
            </p>
        </div>
    </div>

</footer>